<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Wifi Toggle</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<style>
			.container {
				max-width: 16rem;
				text-align: center;
			}
			.row {
				flex-direction: column;
				justify-content: center;
			}
			.toggle {
				width: 7rem;
				height: 3rem;
				margin: auto;
			}
			#info {
				background-color: darksalmon;
			}
		</style>
	</head>
	<body>
		<div class="container mt-5">
			<div class="row">
				<div id="info"></div>
				<form action="/" method="post">
					<label for="toggle">Turn wifi off</label>
					<br />
					<span style="width: 100%">
						<select
							id="toggle"
							name="toggle"
							class="toggle form-control"
							aria-describedby="toggle"
						>
							<option value="2">2 minutes</option>
							<option value="5">5 minutes</option>
							<option value="10">10 minutes</option>
						</select>
					</span>
					<button
						disabled="true"
						id="submit"
						type="submit"
						class="btn btn-primary mt-5"
					>
						Submit
					</button>
				</form>
			</div>
		</div>
		<script>
			const button = document.getElementById("submit");
			const info = document.getElementById("info");
			setTimeout(() => {
				fetch("/")
					.then((response) => {
						if (response.ok) {
							button.removeAttribute("disabled");
						}
						throw new Error("Something went wrong.");
					})
					.catch(() => {
						info.textContent = "Network is shutdown";
						checkNetwork();
					});
			}, 700);
			function checkNetwork() {
				const interval = setInterval(() => {
					fetch("/").then((response) => {
						if (response.ok) {
							button.removeAttribute("disabled");
							info.textContent = "";
							clearInterval(interval);
						}
					});
				}, 60 * 1000);
			}
		</script>
	</body>
</html>
